body {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  kerning: 1px;
  size: 45px;
  font-weight: 400;
  margin: 0;
}

.link {
  font-family: "Raleway", sans-serif;
  color: #f1fb31;
  kerning: 1px;
  size: 18px;
  font-weight: 600;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  kerning: 1px;
  size: 20px;
  font-weight: 600;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px;
}

nav {
  background-color: #00a6b3;
  color: #ffffff;
  padding: 20px;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px 0 8px;
}

footer {
  text-transform: uppercase;
  padding: 0px 20px;
  background-color: #0d2c40;
}

footer p {
  color: white;
  font-size: 14px;
  letter-spacing: 0.8em;
  font-weight: 500;
}

.copyright {
  font-family: "Raleway";
  float: left;
}

.message {
  font-family: "Raleway";
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #f15b31;
  font-weight: 700;
}

nav a {
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-color: white;
}
